.breadcrumbNav {
    background: lightgray;
    padding: 0.3rem;
    border-top: solid;
    border-bottom: solid;
}

.breadcrumbItem {
    background: none;
    border: none;
    color: #003366;
    font-weight: bolder;
    font-size: 0.9rem;
    cursor: pointer;
}


.breadcrumbItemCurrent {
    background: none;
    border: none;
    color: #0e0e0f;
    font-weight: bolder;
    font-size: 0.9rem;
}